* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.btn {
  border-radius: 8px;
  border: 2px solid #de2e54;
  background: #de2e54;
}
.conteainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  align-items: baseline;
  height: 100%;
  pading-left: 50px;
  padding-right: 50px;
}
header {
  max-width: 1440px;
  width: 100%;
}
.header-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 120px;
  padding-top: 15px;
}
.header-list-item {
}
.header-list-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-list-item-li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 15px;
  color: #222;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 21px */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-link {
  color: black;
}
.header-btn-link {
  color: #fff;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
}
.bg-color {
  height: 533px;
  max-width: 1440px;
  width: 100%;
  flex-shrink: 0;
  background-color: #0eb4c1;
  margin-top: 20px;
}
.title-text-hero {
  display: flex;
  justify-content: space-around;
}
.hero-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-items: start;
  /* margin-left: 170px;
    margin-top: 120px; */
}
.hero-content-title {
  color: #fff;

  /* Big heading */
  font-family: Open Sans Condensed;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px; /* 43.2px */
  width: 500px;
  padding-bottom: 16px;
}
.hero-content-text {
  color: #fff;
  font-family: "open sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 27px */
  padding-bottom: 46px;
}
.hero-img {
  padding-top: 15px;
}
.conteainer {
}
.servies-list {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.servies-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 864px;
  height: 200px;
  padding-top: 50px;
}
.sevies-list-item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.servies-list-item-info {
}
p {
  color: #444;

  /* Body text */
  font-family: "open sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 24px */
}
.title {
  text-align: center;
  margin: 126px 0 56px;
  width: 189px;
  margin-left: 313px;
}
.footer-top-bg {
  background: #0eb4c1;
  height: 253px;
  max-width: 1440px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.footer-top-title {
  color: #fff;

  /* Big heading */
  font-family: "Open Sans condensed", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 43.2px */
  font-stretch: condensed;
}
.footer-top-title-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #fff;
  font-family: "Open Sans condensed", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 18px */
  letter-spacing: 2px;
  text-transform: uppercase;
  font-stretch: condensed;
}
.footer-btn {
  border-radius: 8px;
  border: 2px solid #fff;
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
}
.footer-bottom-bg {
  background-color: #222;
}
.footer-flex {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
}
.footer-list {
  color: #fff;
}
.footer-btn-link {
  color: #fff;
}
.btn:hover {
  background-color: #fff;
  color: #de2e54;
}
.btn-header:hover {
  background: rgba(222, 46, 84, 0.8);
  color: #ffffff36;
}
.footer-btn:hover {
  color: #fff;
  background-color: #de2e54;
}
.header-link:hover {
  color: #de2e54;
}
.footer-link {
  color: #fff;
}
